@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.App {
  background-color: #CBC3E3  ;
  min-height: 100%;
  min-width: 100vh
}
.page-wrapper h1 {
  font-family: Shrikhand;
  margin: 0;
  align-content: center;
}
.login-page-wrapper {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 20px;
}
.page-wrapper{
  font-family: "Indie Flower";
}
.logo {
  font-size: 72px;
}
.logo-wrapper{
  padding: 50px;
}
.login-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: #710096;
  border-radius: 20px;
  min-width: 40%;
  width: 500px;
  margin-bottom: 50px;
}
.login-wrapper h1 {
  font-size: 50px;
}
.form-element {
  display: flex;
  flex-direction: column;
  width: inherit;
  align-items: center;
}

.login-submit-btn{
  margin-bottom: 30px;;
}
input {
  margin-bottom: 30px;
  width: inherit;
  height: 30px;
}
label {
  align-self: flex-start;
  font-size: 30px;
}
button {
  height: 75px;
  font-family: "Indie Flower";
  font-size: 40px;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 20px;

}
.page-contents{
  text-align: center;
}
.create-account-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: #710096;
  border-radius: 20px;
  min-width: 40%;
  width: 500px;
  margin-bottom: 50px;
}
.create-page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 20px;
}