@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.App {
  background-color: #e7deff  ;
  min-height: 100%;
  min-width: 100%;
  color:#06114F;
}
.page-wrapper h1 {
  font-family: Shrikhand;
  margin: 0;
  align-content: center;
}
.login-page-wrapper {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  align-items: center;
}
.page-wrapper{
  font-family: "Indie Flower";
  width: 100%;
  min-height:100%;
}
.logo {
  font-size: 72px;
  text-shadow: -1px 0 #5EC5D4, 0 1px #5EC5D4, 1px 0 #5EC5D4, 0 -1px #5EC5D4;
}
.logo-wrapper{
  display: flex;
}
.exit-entry{
  align-self: flex-end;
}
.login-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: #A782EC;
  border-radius: 20px;
  border: #06114F 2px solid;
  min-width: 40%;
  width: 500px;
  margin-bottom: 50px;
}
.login-wrapper h1 {
  font-size: 50px;
}
.form-element {
  display: flex;
  flex-direction: column;
  width: inherit;
  align-items: center;
}

.login-submit-btn{
  margin-bottom: 30px;;
}
input {
  margin-bottom: 30px;
  width: inherit;
  height: 30px;
  border: #06114F 2px solid;
}
label {
  align-self: flex-start;
  font-size: 30px;
}
button {
  height: 75px;
  font-family: "Indie Flower";
  font-size: 40px;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 20px;

}
.login-page-contents {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-account-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: #A782EC;
  border: #06114F 2px solid;
  border-radius: 20px;
  min-width: 40%;
  width: 500px;
  margin-bottom: 50px;
}
.create-page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  align-items: center;
}
.circle {
  height: 80px;
  width: 80px;
  border-radius: 50px;
}
.feelings-contents { 
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}
.awesome {
  background-color:#66b266;
}
.good {
  background-color:#a5d46a;
}
.okay {
  background-color:	#ffff80;
}
.bad {
  background-color:	#ffc080;
}
.awful {
  background-color:#ffa080;
}
.feelings-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.journal-entry-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.journal-entry-wrapper h1 {
  margin-bottom: 30px;

}
.entry-page-contents{
  width: 70%;
  display: flex;
  flex-direction: column;
}
.emotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.emotion:hover {
  border: #06114F solid 2px;
  border-radius: 20px;
  cursor:grab;
}
.emotion p {
  align-self: center;
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
}
.blog-post {
  width: 100%;
  min-height: 170px;
}
.make-entry-button {
  font-family: Shrikhand;
  font-size: 30px;
  margin-right: 20px;
  cursor:grab;
}
.close-entry-button{
  font-family: Shrikhand;
  font-size: 30px;
  cursor: grab;
}
.create-entry-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  align-items: center;
  height: 100vh;
}
.journal-entry-wrapper h1 {
  font-size: 45px;
  margin-bottom: 10px;
}
.feelings-wrapper h4 {
  align-self: start;
  font-size: 28px;
  margin: 0;
}
header {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-right:  #06114F solid 2px;
  background-color: #A782EC;
  padding-left: 20px;
}
nav {
  display: flex;
  flex-direction: column;
  font-size: 40px;
}
nav a {
  margin-bottom: 20px;
}
.post-card {
  background-color: white;
  border: black 1px solid;
  margin-bottom: 20px;
  padding: 15px;
}
.home-page-wrapper {
  display: flex;
}
.post-card-emotion {
  display: flex;
}
.profile-page-wrapper{
  display: flex;
  flex-direction: row;
}
.create-entry-content-wrapper {
  margin: 0 auto;
  width: 75%;
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.submit-or-close-buttons {
  display: flex;
  align-items: center;
}
.home-page-feed{
  width:100%;

}
.home-page-contents-wrapper {
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
 .home-page-contents-wrapper h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 40px;
}
a {
  text-decoration: none;
}
button {
  background-color: #06114F;
  color: white;
}
.icons {
  height: 25px;
  width:25px;
  margin-right: 13px;
}
.header-options{
  padding: 10px;
  border-bottom: 1px solid #06114F;
}