@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.App {
  background-color: #e7deff  ;
  color:#06114F;
  min-height: 100%;
  min-width: 100%;
}
.page-wrapper h1 {
  align-content: center;
  font-family: Shrikhand;
  margin: 0;
}
.login-page-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.page-wrapper{
  font-family: "Indie Flower";
  min-height:100%;
  width: 100%;
}
.logo {
  font-size: 72px;
  text-shadow: -1px 0 #5EC5D4, 0 1px #5EC5D4, 1px 0 #5EC5D4, 0 -1px #5EC5D4;
}
.logo-wrapper{
  display: flex;
}
.exit-entry{
  align-self: flex-end;
}
.login-wrapper {
  align-items: center;
  background-color: #A782EC;
  border: #06114F 2px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  min-width: 40%;
  padding: 50px;
  width: 500px;
}
.login-wrapper h1 {
  font-size: 50px;
}
.form-element {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: inherit;
}

.login-submit-btn{
  margin-bottom: 30px;;
}
textarea {
  border: #06114F 2px solid;
  height: 30px;
  margin-bottom: 30px;
  width: inherit;
}
input{
  border: #06114F 2px solid;
  height: 30px;
  margin-bottom: 30px;
  width: inherit;
}
label {
  align-self: flex-start;
  font-size: 30px;
}
button {
  margin-bottom: 30px;
  align-self: center;
  border-radius: 20px;
  cursor: grab;
  font-family: "Indie Flower";
  font-size: 40px;
  height: 75px;
  padding: 22px;
}
.login-page-contents {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.create-account-wrapper {
  align-items: center;
  background-color: #A782EC;
  border: #06114F 2px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  min-width: 40%;
  margin-bottom: 50px;
  padding: 50px;
  width: 500px;
}
.create-page-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}
.circle {
  border-radius: 50px;
  height: 80px;
  margin-right:15px;
  width: 80px;
}
.feelings-contents { 
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}
.awesome {
  background: url('../src/feelings/awesome.png');
  background-size: contain;
}
.good {
  background: url('../src/feelings/good.png');
  background-size: contain;
}
.okay {
  background:	url('../src/feelings/okay.png');
  background-size: contain;
}
.bad {
  background:	 url('../src/feelings/bad.png');
  background-size: contain;
}
.awful {
  background: url('../src/feelings/awful.png');
  background-size: contain;
}
.feelings-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.journal-entry-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.journal-entry-wrapper h1 {
  margin-bottom: 30px;
}
.entry-page-contents{
  display: flex;
  flex-direction: column;
  width: 70%;
}
.emotion-button {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}
.emotion-button-visited {
  border: #06114F solid 2px;
  border-radius: 20px;
}
.emotion-button button {
  border: 0px;
}
.emotion {
  background-size: contain;
  height:90px;
  width: 90px;
}
.emotion-button:hover {
  border: #06114F solid 2px;
  border-radius: 20px;
  cursor:grab;
}
.emotion p {
  align-self: center;
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
}
.blog-post {
  min-height: 170px;
  resize: vertical;
  width: 100%;
}
.make-entry-button {
  cursor:grab;
  font-family: Shrikhand;
  font-size: 30px;
  margin-right: 20px;
}
.close-entry-button{
  cursor: grab;
  font-family: Shrikhand;
  font-size: 30px;
}
.create-entry-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  width: 100%;
}
.journal-entry-wrapper h1 {
  font-size: 45px;
  margin-bottom: 10px;
}
.feelings-wrapper h4 {
  align-self: start;
  font-size: 28px;
  margin: 0;
}
header {
  background-color: #A782EC;
  border-right:  #06114F solid 3px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  padding-left: 20px;
  width: 30%;
}
nav {
  display: flex;
  flex-direction: column;
  font-size: 40px;
}
nav a {
  margin-bottom: 20px;
}
.post-card {
  background-color: white;
  border: black 1px solid;
  margin-bottom: 20px;
  padding: 15px;
}
.home-page-wrapper {
  display: flex;
}
.post-card-emotion {
  display: flex;
}
.post-card-emotion p {
  font-size: 25px;
  margin:0;
}
.profile-page-wrapper{
  display: flex;
  flex-direction: row;
}
.create-entry-content-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  width: 75%;
}
.submit-or-close-buttons {
  align-items: center;
  display: flex;
}
.home-page-feed{
  width:100%;
}
.home-page-contents-wrapper {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}
 .home-page-contents-wrapper h1 {
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
}
a {
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color:inherit;
}

button {
  background-color: #06114F;
  color: white;
}
.icons {
  height: 25px;
  margin-right: 13px;
  width:25px;
}
.header-options{
  cursor: grab;
  padding: 5px;
}
.header-options:hover {
  background-color: #06114F;
  color:white;
  margin-right: 10px;
}
.header-options:last-child{
  align-items: center;
  display: flex;
  font-weight: bold;
}
.header-options p {
  margin: 0;
}
.page-contents {
  display: flex;
  flex-direction: column;
}
.mood-count-wrapper {
  display: flex;
}
.mood-count img{
  height: 100px;
  width: 100px;
}
.mood-count{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
